<section id="about" class="">
  <div class="container flex flex-col-reverse items-center gap-12 lg:flex-row lg:gap-24">
    <div class="flex w-full flex-col gap-6">
      <div class="flex flex-row gap-4">
        <span class="is-supertitle text-darkGrey sm:pt-1">01</span>
        <h3 class="is-h2">Expert Advisory. Tailored Solutions.</h3>
      </div>
      <p class="text-indent text-lightGrey">
        Orepath is a team of principal mining consultants and software developers, ready to assist with decarbonisation studies, due diligence, and project or labour hire for both city and site-based roles. 
        <br />
        <br />
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
      <div class="mt-4 flex flex-row items-center gap-2">
        <div class="rounded-full bg-blue px-4 py-1 text-background">SvelteKit</div>
        <div class="rounded-full bg-yellow px-4 py-1 text-background">React Native</div>
        <div class="rounded-full bg-pink px-4 py-1 text-background">.Net</div>
      </div>
    </div>
    <div class="w-full overflow-hidden">
      {{> svg/about-mask}}
      <img
        src="/about-team.png"
        alt="About image of the Orepath team"
        class="about-image h-[350px] w-full object-cover object-center sm:h-[450px] md:h-[550px] lg:h-[450px] xl:h-[600px] 2xl:h-[700px]"
      />
    </div>
  </div>
</section>
