<footer class="relative flex flex-col items-center overflow-hidden">
  <div class="absolute -top-[1px] left-0 z-20 h-[calc(100%+1px)] w-full bg-gradient-to-t from-background/90 to-background"></div>
  <img src="/hero-image.png" alt="" class="absolute left-0 top-0 h-full w-full" data-parallax />
  <div class="container relative z-30 flex flex-col gap-32 sm:gap-48">
    <div class="flex flex-col gap-8 max-sm:pb-24">
      <div class="flex flex-row gap-4">
        <span class="is-supertitle pt-1 text-darkGrey">05</span>
        <h3 class="is-h2 flex flex-col text-white">
          <span class="">Let's get in</span>
          <span class="flex flex-row items-center gap-4">
            <div class="gradient-line w-[120px] sm:w-[200px]"></div>
            touch
          </span>
        </h3>
      </div>
      <p class="max-w-[700px] text-lightGrey">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.F
      </p>
    </div>
    <div class="relative flex w-full flex-col justify-between self-end border-t border-solid border-darkGrey sm:flex-row sm:gap-16 xl:w-[65%]">
      <!-- prettier-ignore -->
      {{> svg/footer-icon
        class="w-full sm:w-3/4 max-w-[300px] xl:max-w-[450px] absolute bottom-full right-0"
      }}
      <h6 class="is-supertitle w-fit shrink-0 py-6">Contact</h6>
      <div class="flex w-full flex-col sm:w-3/4">
        <a href="mailto:mail@email.com" class="is-h4 flex flex-row items-center gap-8 border-b border-solid border-darkGrey py-6 font-semibold">
          {{> svg/mail class="size-4 lg:size-6"}} Hello@email.com</a
        >
        <a href="tel:0400 000 000" class="is-h4 flex flex-row items-center gap-8 border-b border-solid border-darkGrey py-6 font-semibold">
          {{> svg/tel class="size-4 lg:size-6"}} 0400 000 000</a
        >
        <a href="https://linkedin.com" class="is-h4 flex flex-row items-center gap-8 border-b border-solid border-darkGrey py-6 font-semibold">
          {{> svg/linkedin class="size-4 lg:size-6"}} Linkedin</a
        >
        <a href="https://linkedin.com" class="is-h4 flex flex-row gap-8 py-6 font-semibold">
          {{> svg/pin class="size-4 lg:size-6 mt-1"}} The Street, Perth, 6000 <br />
          Western Australia</a
        >
      </div>
    </div>
    <div class="relative z-10 flex w-full flex-col gap-8">
      <!-- prettier-ignore -->
      {{> svg/footer-logo
        class="w-full"
    }}
      <div class="flex flex-col items-center justify-between gap-4 text-lightGrey sm:flex-row">
        <p class="text-white">&copy; <span id="year"></span> Orepath. All Rights Reserved.</p>
        <a href="https://psdigital.com.au">Website by PS Digital</a>
      </div>
    </div>
  </div>
</footer>
