<header>
  <div class="container flex flex-row items-center justify-between">
    <img src="/logo.svg" alt="Orepath Logo" class="w-[50px] object-contain object-center sm:w-[70px]" />

    <!-- Desktop Menu -->
    <div class="hidden items-center justify-end gap-12 text-white md:flex">
      <a href="#about" class="link-hover">About</a>
      <a href="#services" class="link-hover">Services</a>
      <a href="#team" class="link-hover">Team</a>
      <a href="#contact" class="button">Contact Us</a>
    </div>

    <!-- Mobile Menu Button -->
    <button id="mobile-menu-button" class="relative z-50 border-none text-white outline-none md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="size-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>
</header>
<!-- Mobile Menu (Fullscreen Slide-in) -->
<div
  id="mobile-menu"
  class="fixed bottom-0 right-0 top-0 z-40 w-full translate-x-full bg-background px-[5%] transition-transform duration-300 ease-in-out md:hidden"
>
  <div class="flex h-full flex-col pt-32 text-white">
    <a href="#about" class="link-hover border-b border-darkGrey py-6 text-2xl font-semibold">About</a>
    <a href="#services" class="link-hover border-b border-darkGrey py-6 text-2xl font-semibold">Services</a>
    <a href="#team" class="link-hover border-b border-darkGrey py-6 text-2xl font-semibold">Team</a>
    <a href="#contact" class="link-hover py-6 text-2xl font-semibold">Contact Us</a>
  </div>

  {{> svg/footer-icon class="w-3/4 max-w-[300px] xl:max-w-[450px] absolute bottom-0 right-0" }}
</div>
