<section id="hero" class="relative h-lvh pb-0 max-md:pt-0 overflow-hidden">
  <div class="absolute left-0 top-0 z-10 h-full w-full bg-gradient-to-t from-background to-background/90"></div>
  <img src="/hero-image.png" alt="Mine Site Hero Image" class="absolute left-0 top-0 h-full w-full object-cover object-center" data-parallax />
  <div id="animated-logo" class="absolute -right-[15%] -bottom-[2.5%] z-10 w-full md:w-[70%]"></div>
  <div class="container relative z-20 flex h-full flex-col justify-center gap-6 md:gap-12">
    <div class="flex flex-col gap-2">
      <h1 class="is-supertitle text-xl text-darkGrey sm:text-2xl">Orepath</h1>
      <h2 class="is-h1 flex flex-col text-white">
        <span class="">The True Way</span>
        <span class="flex flex-row items-center gap-4">
          <div class="gradient-line"></div>
          Forward
        </span>
      </h2>
    </div>
    <div class="flex w-full flex-col gap-8 self-center md:max-w-[450px]">
      <p class="text-indent text-lightGrey">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a href="#contact" class="button blue">Contact Us</a>
    </div>
    <a href="#about" class="absolute bottom-8 left-0 size-12"> {{> svg/down-arrow }} </a>
  </div>
</section>
