<!doctype html>
<section id="hero" class="relative h-lvh pb-0">
  <div class="absolute left-0 top-0 z-10 h-full w-full bg-gradient-to-t from-background to-background/90"></div>
  <img src="/hero-image.png" alt="Mine Site Hero Image" class="absolute left-0 top-0 h-full w-full object-cover object-center" />
  <img src="/hero-logo.svg" alt="Black Orepath Logo" class="absolute bottom-0 right-0 z-10 w-1/2" />
  <div class="container relative z-20 flex h-full flex-col justify-center gap-12">
    <div class="flex flex-col gap-2">
      <h1 class="is-supertitle text-2xl text-darkGrey">Orepath</h1>
      <h2 class="is-h1 flex flex-col text-white">
        <span class="">Smart, Reliable</span>
        <span class="flex flex-row items-center gap-4">
          <div class="gradient-line"></div>
          Software
        </span>
      </h2>
    </div>
    <div class="flex w-full max-w-[450px] flex-col gap-8 self-center">
      <p class="text-indent text-lightGrey">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a href="#contact" class="button blue">Contact Us</a>
    </div>
    <a href="#about" class="absolute bottom-8 left-0 size-12"> {{> svg/down-arrow }} </a>
  </div>
</section>
