<div class="relative grid grid-cols-3 gap-8 border-solid border-transparent border-b-blue pb-8 lg:gap-16 lg:border-b lg:pb-32 xl:gap-24">
  {{> svg/one class="max-w-[300px] absolute bottom-0 left-0 max-lg:hidden" }}
  <div class="flex flex-col gap-8 max-lg:col-span-3">
    <h4 class="is-h3">
      Project Consulting <br />
      &amp; Due Diligence
    </h4>
    <a href="#contact" class="button blue">Contact Us</a>
  </div>
  <div class="col-span-3 grid items-start gap-x-4 md:grid-cols-2 lg:col-span-2">
    <!-- prettier-ignore -->
    {{> components/accordion
      title="Open pit optimisation"
      content="At Orepath, we can help maximise the value of your operation by refining mine designs, schedules, and extraction strategies. We use advanced modelling and data-driven analysis to improve efficiency, reduce costs, and enhance overall project viability."
      color="blue"
    }}
    {{> components/accordion
      title="Pit/road/dump/rehabilitation designs"
      content="We design efficient and practical pit, road, dump, and rehabilitation plans tailored to your site’s unique conditions. Our solutions prioritise safety, operational efficiency, and environmental responsibility, ensuring optimal material movement, cost-effective haulage, and sustainable land rehabilitation strategies."
      color="blue"
    }}
    {{> components/accordion
      title="Strategic & tactical scheduling"
      content="Our strategic and tactical scheduling service optimises short and long-term mining plans to maximise productivity and efficiency. We develop data-driven schedules that align with operational goals, ensuring optimal resource allocation, minimised downtime, and improved overall project performance."
      color="blue"
    }}
    {{> components/accordion
      title="Decarbonisation studies"
      content="Our decarbonisation studies help mining operations identify and implement sustainable strategies to reduce carbon emissions. We assess energy usage, fuel efficiency, and alternative technologies to develop practical, cost-effective solutions that support environmental targets while maintaining operational performance."
      color="blue"
    }}
    {{> components/accordion
      title="Scoping & feasibility studies"
      content="Our experienced consultants conduct scoping, prefeasibility, and feasibility studies to assess the technical and economic viability of mining projects. We provide in-depth analysis, risk assessment, and strategic recommendations, helping clients make informed decisions and maximise project potential."
      color="blue"
    }}
    {{> components/accordion
      title="Mine plan design review & revision"
      content="Orepath’s consultants specialise in reviewing and revising the basis of design for mine plans. We assess current designs, identify areas for improvement, and provide expert recommendations to optimise efficiency, reduce costs, and enhance overall project outcomes, ensuring your mine plan is both effective and sustainable."
      color="blue"
    }}
    {{> components/accordion
      title="Mine plan reforecasting & optimisation"
      content=
      color="blue"
    }}
  </div>
</div>
