<div class="relative grid grid-cols-3 gap-16 pb-8 md:pb-60 xl:gap-24">
  {{> svg/three class="max-w-[300px] absolute bottom-0 left-0 max-lg:hidden" }}
  <div class="flex flex-col gap-8 max-lg:col-span-3">
    <h4 class="is-h3">Bespoke / Tailored <br />Software Solutions</h4>
    <a href="#contact" class="button pink">Contact Us</a>
  </div>
  <div class="col-span-3 grid items-start gap-x-4 md:grid-cols-2 lg:col-span-2">
    <!-- prettier-ignore -->
    {{> components/accordion
      title="Mine simulation"
      content="Orepath’s mine simulation software allows you to model and optimise your mining operations, helping you visualise challenges and test strategies before implementation. This tool improves planning, resource management, and decision-making, driving efficiency and productivity in your mining projects."
      color="pink"
    }}
    {{> components/accordion
      title="Rehabilitation & remediation"
      content="Our software allows for efficient design and management of rehabilitation and remediation plans tailored to your mining site. By simulating environmental outcomes and tracking progress, our solution ensures sustainable land management practices and compliance with regulatory requirements, improving both efficiency and environmental impact."
      color="pink"
    }}
    {{> components/accordion
      title="Bespoke optimisation & scripting"
      content="Our team of developers works to address complex problems that aren’t tackled by the wider industry, creating tailored algorithms and scripts to optimise resource allocation, improve efficiency, and automate processes."
      color="pink"
    }}
    {{> components/accordion
      title="Fleet & autonomous systems optimisation"
      content="Orepath assists with fleet and autonomous trade-off studies through simulation, helping you evaluate the most efficient fleet strategies. Our services also include earthmoving tendering audits and ensuring compliance with mine closure requirements, ensuring your operations are both cost-effective and sustainable."
      color="pink"
    }}
  </div>
</div>
