<div class="relative grid grid-cols-3 gap-8 border-solid border-transparent border-b-yellow pb-8 lg:gap-16 lg:border-b lg:pb-72 xl:gap-24">
  {{> svg/two class="max-w-[300px] absolute bottom-0 left-0 pb-8 max-lg:hidden" }}
  <div class="flex flex-col gap-8 max-lg:col-span-3">
    <h4 class="is-h3">Secondments &amp; <br />Labour Hire</h4>
    <a href="#contact" class="button yellow">Contact Us</a>
  </div>
  <div class="col-span-3 grid items-start gap-x-4 md:grid-cols-2 lg:col-span-2">
    <!-- prettier-ignore -->
    {{> components/accordion
      title="Onsite labour hire"
      content="Our highly skilled consultants and workers can be seamlessly integrated into your team, whether for short-term assignments or long-term placements. We offer expertise across a range of roles, ensuring that you have the right people on-site to support your operational goals. With a focus on safety, efficiency, and quality, we help optimise your workforce and ensure smooth project execution."
      color="yellow"
    }}
    {{> components/accordion
      title="Project assistance"
      content="Orepath offers project assistance to support your mining operations throughout the project lifecycle. Our experienced consultants and professionals integrate seamlessly into your team, providing the necessary expertise to support various stages of your project."
      color="yellow"
    }}
    {{> components/accordion
      title="Holiday coverage"
      content="Orepath can help maintain operational efficiency and project deadlines by providing coverage during holiday periods. Our consultants ensure that your team continues to run smoothly, allowing you to manage workloads and avoid disruptions while your core team is away."
      color="yellow"
    }}
    {{> components/accordion
      title="Onsite & project support"
      content=" "
      color="yellow"
    }}
  </div>
</div>
