<!doctype html>
<section id="services" class="">
  <div class="container flex flex-col gap-24">
    <div class="grid grid-cols-3 gap-24">
      <div class="col-span-2 col-start-2 flex flex-col gap-6">
        <div class="flex flex-row gap-4">
          <span class="is-supertitle pt-3 text-darkGrey">02</span>
          <h3 class="is-h2 flex flex-col text-white">
            <span class="">Solutions beyond</span>
            <span class="flex flex-row items-center gap-4">
              <div class="gradient-line w-[200px]"></div>
              the wall
            </span>
          </h3>
        </div>
        <p class="text-indent is-h4 text-lightGrey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
   {{> solutions-01}}
   {{> solutions-02}}
   {{> solutions-03}}
  </div>
</section>
