<section id="team" class="">
  <div class="container flex flex-col items-center gap-16">
    <div class="flex w-full flex-col gap-12 self-start">
      <div class="flex flex-col gap-2">
        <div class="flex flex-row gap-4">
          <span class="is-supertitle pt-1 text-darkGrey">03</span>
          <h5 class="is-h1 flex flex-col text-white">
            <span class="">Meet our</span>
            <span class="flex flex-row items-center gap-4">
              <div class="gradient-line"></div>
              team
            </span>
          </h5>
        </div>
      </div>
      <div class="flex w-full max-w-[650px] flex-col gap-8 self-center">
        <p class="text-indent text-lightGrey">
          Orepath’s agile team of expert consultants and developers tackle the challenges others overlook. With tailored solutions and deep industry knowledge, we help mining operations protect and enhance asset value.
        </p>
      </div>
    </div>
    <div class="team-group flex flex-col gap-4 sm:gap-8 md:flex-row xl:w-3/4">
      <div class="flex flex-col gap-4 sm:gap-8 md:mt-[40%] md:gap-12">
        <!-- prettier-ignore -->
        {{> components/team-member
            name="Daniel Narayan"
            role="Chief Executive Officer"
            bio="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            image="/daniel.png"

        }}
        {{> components/team-member
          name="Daniel Narayan"
          role="Chief Executive Officer"
          bio="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          image="/daniel.png"
          extraClass="hide-outline"
        }}
      </div>
      <div class="flex flex-col gap-4 sm:gap-8 md:gap-16">
        <!-- prettier-ignore -->
        {{> components/team-member
          name="Daniel Narayan"
          role="Chief Executive Officer"
          bio="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          image="/daniel.png"
          extraClass="hide-outline"
        }}
          {{> components/team-member
            name="Daniel Narayan"
            role="Chief Executive Officer"
            bio="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            image="/daniel.png"
        }}
      </div>
    </div>
  </div>
</section>
