main {
  @apply w-full;
}
section {
  @apply flex w-full justify-center px-[5%] py-24;
}

.gradient-line {
  @apply relative flex h-2 w-[350px] overflow-hidden;

  &::before {
    content: '';
    background: linear-gradient(90deg, #009fe2, #afcb1f, #ffcb00, #ed7f1a, #e40980, #009fe2);
    animation: gradient-scroll 5s linear infinite;
    @apply absolute left-0 top-0 flex h-full w-full;
  }

  &::after {
    content: '';
    animation: gradient-scroll 5s linear infinite;
    background: linear-gradient(90deg, #009fe2, #afcb1f, #ffcb00, #ed7f1a, #e40980, #009fe2);
    @apply absolute left-[calc(100%-1px)] top-0 flex h-full w-full;
  }
}

@keyframes gradient-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about-image {
  clip-path: url(#image-mask);
  -webkit-clip-path: url(#image-mask);
}

.service-mask {
  clip-path: url(#service-mask);
  -webkit-clip-path: url(#service-mask);
}

.team-image {
  clip-path: url(#team-mask);
  -webkit-clip-path: url(#team-mask);
}

img{
  @apply w-full object-cover object-center;
}
