<div class="swiper-slide p-4">
  <div class="image-outline absolute left-0 top-0 size-4 border-l border-t border-blue"></div>
  <div class="image-outline absolute right-0 top-0 size-4 border-r border-t border-blue"></div>
  <div class="image-outline absolute bottom-0 right-0 size-4 border-b border-r border-blue"></div>
  <div class="image-outline absolute bottom-0 left-0 size-4 border-b border-l border-blue"></div>
  <div class="bg-lightBlack flex flex-col gap-6 rounded-lg p-8 opacity-50 transition-all duration-300 ease-in-out blur-sm">
    <p>{{ content }}</p>
    <div class="flex flex-col">
      <span class="is-h4 font-semibold">{{ name }}</span>
      <span class="text-medGrey text-sm font-semibold">{{ title }}</span>
    </div>
  </div>
</div>
